doctype
html(lang="ru")
  head
    meta( charset="utf-8" )
    title Dobryat
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel = "stylesheet" href="assets/css/assets.css")
    link(rel = "stylesheet" href="assets/css/app.css")
    script( type = "application/javascript"  src = "assets/js/assets.js")
    script( type = "application/javascript"  src = "assets/js/app.js")
    script( src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  body#top
    nav.navbar.d-navbar.navbar-fixed-top
      .container
        a.navbar-brand.menu-js(href="#top")
          img(src="./assets/images/logo.png")
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-right.d-menu
            li.hidden-xs
              a.font-bold.menu-js(href="#d-services") Услуги
            li.hidden-xs
              a.font-bold.menu-js(href="#d-portfolio") Портфолио
            li.hidden-xs
              a.font-bold.menu-js(href="#d-footer") Контакты
            li
              a.font-normal.non-hover(href="tel:+380951261309") +38 (095) 126-1309
            a.btn.btn-foxy.m-t-10.m-b-10.m-l-15.pull-right.visible-lg(href="#" data-toggle="modal" data-target="#call-footer-header-modal") Позвоните мне

    .d-section.d-header.p-t-100.p-b-100
      .container.p-t-100
        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.header-texts
            h1.font-bold.text-capitalize Развитие бизнеса в интернете
            h2.m-t-30 Время двигаться вперед
            .m-t-25
              a.btn.btn-foxy.inline.m-t-5.m-r-10(data-toggle="modal" data-target="#order-modal") Отправить заявку
              a.btn.btn-a-foxy.inline.m-t-5(data-toggle="modal" href="#" data-target="#call-modal") Обратный звонок
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.slider-section.hidden-xs
            .header-section.inline.slider
              .mac-book
                #d-main-slider.carousel.slide.d-carousel(data-ride="carousel")
                  .carousel-inner
                    .item.active
                      img(src="./assets/images/slide.jpg" )
                    .item
                      img(src="./assets/images/slide.jpg" )
                    .item
                      img(src="./assets/images/slide.jpg" )
                    .item
                      img(src="./assets/images/slide.jpg" )
                  a.left.carousel-control.d-slide-prev(href='#d-main-slider', role='button', data-slide='prev')
                    .fa.fa-chevron-left
                  a.right.carousel-control.d-slide-next(href='#d-main-slider', role='button', data-slide='next')
                    .fa.fa-chevron-right


    h2.d-vertical-title.m-b-30.m-t-50#d-services
     .title-text.inline Услуги
    .d-section.d-services.p-b-100
      .container.p-b-50.main-container
        ul.nav.nav-tabs.nav-justified.d-tabs#service-tabs(role="tablist")
          li.active
            a(href="#tab-seo" aria-controls="tab-seo" role="tab" data-toggle="tab")
              img.inline(src="./assets/images/tabs/seo.png")
              | Продвижение сайта
          li
            a(href="#tab-rekl" aria-controls="tab-rekl" role="tab" data-toggle="tab")
              img.inline(src="./assets/images/tabs/rekl.png")
              | Контекстная реклама
          li
            a(href="#tab-dev" aria-controls="tab-dev" role="tab" data-toggle="tab")
              img.inline(src="./assets/images/tabs/dev.png")
              | Разработка сайтов
          li
            a(href="#tab-copy" aria-controls="tab-copy" role="tab" data-toggle="tab")
              img.inline(src="./assets/images/tabs/copy.png")
              | Копирайтинг

        .tab-content.d-tab-content
          #tab-seo.tab-pane.active.fade.in.m-t-30(role="tab-panel")
            .tab-content-header
              .img-tab-left.pull-right
                img.img-responsive(src="./assets/images/tabs/content/seo_traffic.png")
              p.tab-content-text SEO TEXT Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст
            .text-center.show-more-btn-wrapper
              .btn.btn-grey.inline.show-more-btn Узнать больше

          #tab-rekl.tab-pane.fade.in.m-t-30(role="tab-panel")
            .tab-content-header
              .img-tab-left
                img.img-responsive(src="./assets/images/tabs/content/ppc_organic.png")
              p.tab-content-text adv             Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст
            .text-center.show-more-btn-wrapper
              .btn.btn-grey.inline.show-more-btn Узнать больше

          #tab-dev.tab-pane.fade.in.m-t-30(role="tab-panel")
            .tab-content-header
              .img-tab-left
                img.img-responsive(src="./assets/images/tabs/content/web_sites.png")
              p.tab-content-text dev               Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст
            .text-center.show-more-btn-wrapper
              .btn.btn-grey.inline.show-more-btn Узнать больше

          #tab-copy.tab-pane.fade.in.m-t-30(role="tab-panel")
            .tab-content-header
              .img-tab-left
                img.img-responsive(src="./assets/images/tabs/content/copywrite.png")
              p.tab-content-text copy      Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст                Остальной текст Остальной текст Остальной текст Остальной текст  Остальной текст Остальной текст Остальной текст Остальной текст
            .text-center.show-more-btn-wrapper
              .btn.btn-grey.inline.show-more-btn Узнать больше


    .d-section.d-timer.p-t-65.p-b-75.m-t-100.hidden-xs
      .container
        h2.text-center.m-b-20.d-white Уникальное предложени! Только для Вас!
        .row
          .col-lg-6.col-sm-8.col-md-6
            script(src='http://megatimer.ru/s/259753a57a345510ce4783eb3f59a6a3.js')
          .col-lg-6.col-sm-4.col-md-6.timer-text-section
            .f-16.d-white Внимание - Акция. У Вас есть возможность получить бесплатный аудит сайта.
            .text-center.m-t-10
              a.btn.btn-white(href="#" data-toggle="modal" data-target="#stock-modal") Отправить заявку
      .green-separator

    .d-section.d-portfolio.p-t-50.p-b-50#d-portfolio
      .container
        h2.text-center Наши Клиенты
        .row.m-t-30

          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")

          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")

          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")

          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")

          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")

          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")

        .row.collapse#portfolio-collapse
          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")
          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")
          .col-lg-4.col-md-4.col-6-4.col-xs-6.customer
            .logo-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer1.jpg")
            .description-wrapper.portfolio-img-wrapper
              img.img-responsive(src="./assets/images/portfolio/customer2.jpg")
        .text-center
          .btn.btn-grey.inline#portfolio-show-more-btn(role="button" data-toggle="collapse" data-target="#portfolio-collapse") Больше проектов

    .d-section.d-advantages
      .container
        h2 Почему Именно Мы?
        .row
          .col-lg-4.col-md-4.col-sm-4.col-xs-12.p-t-25.p-b-25
            .wrapper-discription
              img(src="./assets/images/39--white.png")
            .wrapper-discription
              p.title-advantages.font-bold Высокие Результаты
              p -
              p &nbsp
              p.advant_discription которые мы подтверждаем постоянными отчетами и примерами

          .col-lg-4.col-md-4.col-sm-4.col-xs-12.p-t-25.p-b-25
            .wrapper-discription
              img(src="./assets/images/108--white.png")
            .wrapper-discription
              p.title-advantages.font-bold Доступная Стоимость
              p -
              p &nbsp
              .advant_discription которую мы выводим только после аудита сайта

          .col-lg-4.col-md-4.col-sm-4.col-xs-12.p-t-25.p-b-25
            .wrapper-discription
              img(src="./assets/images/176--white.png")
            .wrapper-discription
              p.title-advantages.font-bold Лучшие Специалисты
              p -
              p &nbsp
              p.advant_discription которые совершенствуются и изучают мир интернет маркетинга ежедневно


    .d-section.d-how-work.p-t-30.p-b-20
      .container
        h2 Как Мы Работаем
        .d-how-work-table.p-t-10.p-b-10.p-l-5.p-r-5

          .row.d-how-work-row
            .col-lg-5.col-md-5.col-sm-5.col-xs-12.d-how-work-cell
              .wrapper-discription
                h3.font-bold Шаг 1: Поставка Целей
              .wrapper-discription
                p Проведение встречи, оценка стоимости и сроков работ.
            .col-lg-2.col-md-2.col-sm-2.hidden-xs.d-how-work-cell
              .wrapper-discription.img-how-work
                img.inline(src="./assets/images/78--black.png")

          .row.d-how-work-row
            .col-lg-2.col-lg-offset-5.col-md-offset-5.col-sm-offset-5.col-md-2.col-sm-2.hidden-xs.d-how-work-cell.d-how-work-cell
              .wrapper-discription.img-how-work
                img.inline(src="./assets/images/203--black.png")
            .col-lg-5.col-md-5.col-sm-5.col-xs-12.d-how-work-cell
              .wrapper-discription
                h3.font-bold Шаг 2: Утверждение Плана Работ
              .wrapper-discription
                p Составляем и утверждаем список работ и ответственных за проект.

          .row.d-how-work-row
            .col-lg-5.col-md-5.col-sm-5.col-xs-12.d-how-work-cell
              .wrapper-discription
                h3.font-bold Шаг 3: Оптимизация и Доработка Сайта
              .wrapper-discription
                p Сам процесс работы. Разработка, контроль и тестирование запланированных работ.
            .col-lg-2.col-md-2.col-sm-2.hidden-xs.d-how-work-cell
              .wrapper-discription.img-how-work
                img.inline(src="./assets/images/233--black.png")

          .row.d-how-work-row
            .col-lg-2.col-md-2.col-sm-2.col-lg-offset-5.col-md-offset-5.col-sm-offset-5.hidden-xs.d-how-work-cell
              .wrapper-discription.img-how-work
                img.inline(src="./assets/images/101--black.png")
            .col-lg-5.col-md-5.col-sm-5.col-xs-12.d-how-work-cell
              .wrapper-discription
                h3.font-bold Шаг 4: Достижение Поставленных Целей

    .d-section.d-decide
      .container
        .decide-header.m-t-30
          h2.d-vertical-title
            .title-text.inline Я решил и Хочу развить бизнес
          .subtitle Заказать прямо сейчас!
      .container
        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            .img-decide
              img(src="./assets/images/113--orange.png")
            .text-decide
              .first-text
                span.font-bold Стоимость работ по
                span  продвижению оценивается индивидуально, поскольку сайты бывают различных объемов и разного уровня проведенной оптимизации. Цена и сроки будут указаны в коммерческом предложении, которое мы вышлем на указанную Вами почту.
              .second-text.m-t-10
                span.font-bold Запомните!
                span  Если сайт частично уже оптимизирован, то мы не выставляем стоимость как "пустому". Мы оглашаем стоимость только после проведения аудита сайта внутри нашей компании.
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            form#iDecideForm.i-decide-form(name="iDecideForm" action="iDecideForm.php" method="POST")
              .form-group
                .input.m-b-15
                  label.font-normal Имя
                  input.form-control(type='text' name="name")
                .input.m-b-15
                  label.font-normal Email
                  span *
                  input.form-control(type='email' name="email" required)
                .input.m-b-15
                  label.font-normal Адрес сайта
                  span *
                  input.form-control(type='text' required name="site")
                .input.m-b-15
                  label.font-normal Выбирете услугу
                  input.form-control(type='text' placeholder="Например: 'Разработка и продвижение сайта'" name="service")
                button.btn.btn-foxy(type='submit') Получить предложение!

    .d-section.d-indicators.p-t-30.p-b-30
      .container
        h2.m-t-10 Конкретные цифры - Никакой воды
        .subtitle Показатели работы
        .row.m-t-20.p-t-30.p-l-5.p-b-5.p-r-5

          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              img(src="./assets/images/184--white.png")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              #count1.countIndicator(data-number="57")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              .text-indicators Клиентов за все время работы

          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              img(src="./assets/images/224--white.png")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              #count2.countIndicator(data-number="26")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              .text-indicators Клиентов на данный момент

          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              img(src="./assets/images/232--white.png")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              #count3.countIndicator(data-number="113")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              .text-indicators Проведено аудитов сайтов

          .col-lg-3.col-md-3.col-sm-3.col-xs-12
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              img(src="./assets/images/56--white.png")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              #count4.countIndicator(data-number="100")
            .wrapper-discription.p-t-5.p-l-5.p-b-5.p-r-5
              .text-indicators Процент довольных  клиентов

    .d-section.d-feedback.m-t-50
      .d-feedback-wrapper
        h2.text-center.m-b-30 Отзывы Клиентов
        .container
          .d-feedback-flexslider#d-feedback-flexslider
            ul.slides
              li
                .feedback
                  .f-16 Столько дней он, не зная правды, просто шёл за ней, Убивая навсегда свою мечту Но только ту, кого не мог понять, только ту, Он и не мог забыть, так может быть.
                  .feedback-owner
                    .avatar
                      img.img-responsive(src="./assets/images/feedback/ava.png")
                    .name Леонид Агутин
              li
                .feedback
                  .f-16 Столько раз он пытался всё сказать ей, как сейчас, Никого не подпуская никогда, Слова - вода, и нельзя согреть В своей душе те кусочки льда.
                  .feedback-owner
                    .avatar
                      img.img-responsive(src="./assets/images/feedback/ava.png")
                    .name Леонид Агутин
              li
                .feedback
                  .f-16 Припев: Не зная боли, не зная слёз, Он шёл за ней в неволе у шипов этих роз Аэропорты и города он проплывал, не зная, Собирая в сердце лишь кусочки льда.
                  .feedback-owner
                    .avatar
                      img.img-responsive(src="./assets/images/feedback/ava.png")
                    .name Леонид Агутин
              li
                .feedback
                  .f-16 В сердце лишь кусочки льда... Столько лет, он как белый мотылёк летел на свет Чтоб обратно возвращаться в пустоту Но только ту, кого не мог понять, только ту Он и не мог забыть, так может быть.
                  .feedback-owner
                    .avatar
                      img.img-responsive(src="./assets/images/feedback/ava.png")
                    .name Леонид Агутин

            a.flex-prev.flex-nav-btn.f-flex-nav-btn(href='#')
              .fa.fa-chevron-left
            a.flex-next.flex-nav-btn.f-flex-nav-btn(href='#')
              .fa.fa-chevron-right

    .d-section.d-team.m-t-50.hidden-xs
        h2.text-center.m-b-30 Наша команда
        .container
            .owl-carousel#d-team-carousel
                .member
                    .member-photo.text-center
                        img.inline(src="./assets/images/team/zubov.jpg")
                    .member-info
                        .text-center.m-t-10
                            .f-18 Антон Зубов
                            | CEO, SEO-специлист

                .member
                    .member-photo.text-center
                        img.inline(src="./assets/images/team/chebishev.jpg")
                    .member-info
                        .text-center.m-t-10
                            .f-18 Сергей Чебышев
                            | Дизайнер

                .member
                    .member-photo.text-center
                        img.inline(src="./assets/images/team/filatov.jpg")
                    .member-info
                        .text-center.m-t-10
                            .f-18 Дмитрий Филатов
                            | Web Программист

                .member
                    .member-photo.text-center
                        img.inline(src="./assets/images/team/forostovec.jpg")
                    .member-info
                        .text-center.m-t-10
                            .f-18 Светлана Форостовец
                            | Редактор

                .member
                    .member-photo.text-center
                        img.inline(src="./assets/images/team/tereshenko.jpg")
                    .member-info
                        .text-center.m-t-10
                            .f-18 Алексей Терещенко
                            | CEO, SEO

                .member
                    .member-photo.text-center
                        img.inline(src="./assets/images/team/cat.jpg")
                    .member-info
                        .text-center.m-t-10
                            .f-18 Кошка Мята
                            | Dобрый талисман компании


    .d-section
      .container
        .d-content.p-t-30.p-b-30
          .content-header Интернет маркетинговое агентство Dobryat
          .content-text.m-t-10 Профессиональное исполнение услуг маркетингового агентства – залог успеха компании клиента. От выбора подрядчика зависит эффективность всех тех действий, которые будут применяться для развития бизнеса. Для принятия правильного решения в выборе рекламного агентства не нужно делать поспешных решений. Вкладывая в рекламу вы должны быть уверены в получении выгоды, а не пустого спускания денег.
      .d-map#d-map
        .map-text.p-t-10.p-b-10.p-l-10.p-r-10.m-t-10.m-b-10
          h2.m-t-10.m-b-10 Наш Адрес
          .subtitle.m-t-10.m-b-10 Киев, Верхний Вал 22

    .d-section.d-footer#d-footer
      .container
        .left-foter-text.col-lg-6.col-md-6.col-sm-6.col-xs-12
          ul.left-list
            li
              .wrapper-footer.p-t-5.p-b-5.p-l-5.p-r-5
                .img-footer
                  img(src="./assets/images/94--black.png")
                .text-footer info@dobryat.com
            li
              .wrapper-footer.p-t-5.p-b-5.p-l-5.p-r-5
                .img-footer
                  img(src="./assets/images/82--black.png")
                .text-footer Киев, Верхний Вал 22
            li
              .wrapper-footer.p-t-5.p-b-5.p-l-5.p-r-5
                .img-footer
                  img(src="./assets/images/90--black.png")
                .text-footer skype_dobryat
        .right-footer-text.col-lg-6.col-md-6.col-sm-6.col-xs-12
          ul.right-list
            li.list-table
              .wrapper-footer.p-t-5.p-b-5.p-l-5.p-r-5
                a.text-footer(href="tel:+380951261309") +38 (095) 126-1309
              .wrapper-footer.p-t-5.p-b-5.p-l-5.p-r-5
                a.text-footer(href="tel:+380671503886") +38 (067) 150-3886
              .img-footer.hidden-xs
                img(src='./assets/images/159--black.png')
            li
              .wrapper-footer
                a.btn.btn-foxy(href="#" data-toggle="modal" data-target="#call-footer-header-modal") Заказать обратный звонок



    .d-modal.modal.fade#call-footer-header-modal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title.font-bold Заказ звонка
          .modal-body
            form#callHeaderFooterForm(name="callHeaderFooterModal" action="callHeaderFooterModal.php" method="POST")
              .form-group
                .m-b-5
                  label.font-normal.f-16 Имя
                  input.form-control(type='text' name="name")
                .m-b-5
                  label.font-normal.f-16 Номер телефона
                  span.d-red.f-16  *
                  input.form-control(type='text' name="number" placeholder="Например: 0951234567")
                .m-b-5
                  label.font-normal.f-16 Время для звонка
                  input.form-control(type='text' name="time")
              .text-center.m-t-15
                button.btn.btn-foxy(type="submit" name="submitCallHeaderFooterForm") Отправить


    .d-modal.modal.fade#order-modal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title.font-bold Отправить заявку
          .modal-body
            form#orderForm(name="orderModal" action="orderModal.php" method="POST")
              .form-group
                .m-b-5
                  label.font-normal.f-16 Имя
                  input.form-control(type='text' name="name")
                .m-b-5
                  label.font-normal.f-16 Электронная почта
                  span.d-red.f-16  *
                  input.form-control(type='email'  name="email" required)
                .m-b-5
                  label.font-normal.f-16 Номер телефона
                  span.d-red.f-16  *
                  input.form-control(type='text'  name="number"  placeholder="Например: 0951234567")
                .m-b-5
                  label.font-normal.f-16 Адрес сайта
                  input.form-control(type='text' name="site")
              .text-center.m-t-15
                button.btn.btn-foxy(type="submit") Отправить заявку!


    .d-modal.modal.fade#call-modal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title.font-bold Заказать звонок
          .modal-body
            form#callForm(name="callModal" action="callModal.php" method="POST")
              .form-group
                .m-b-5
                  label.font-normal.f-16 Имя
                  input.form-control(type='text' name="name")
                .m-b-5
                  label.font-normal.f-16 Номер телефона
                  span.d-red.f-16  *
                  input.form-control(type='text'  name="number"  placeholder="Например: 0951234567")
              .text-center.m-t-15
                button.btn.btn-foxy(type="submit") Отправить заявку!


    .d-modal.modal.fade#stock-modal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title.font-bold Заявка
          .modal-body
            form#stockForm(name="stockModal" action="stockModal.php" method="POST")
              .form-group
                .m-b-5
                  label.font-normal.f-16 Имя
                  input.form-control(type='text' name="name")
                .m-b-5
                  label.font-normal.f-16 Электронная почта
                  span.d-red.f-16  *
                  input.form-control(type='email' name="email" required)
                .m-b-5
                  label.font-normal.f-16 Номер телефона
                  span.d-red.f-16  *
                  input.form-control(type='text' name="number" placeholder="Например: 0951234567")
                .m-b-5
                  label.font-normal.f-16 Адрес сайта
                  input.form-control(type='text' name="site")
              .text-center.m-t-15
                button.btn.btn-grey(type="submit") Отправить заявку!
