@import "variables";
.d-advantages {
  background-color: @l-foxy;
  color: @white;
  text-align: center;
    h2 {
      font-size: 35px;
    }
  .wrapper-discription {
    padding: 5px;
  }
  .wrapper-discription img {
      width: 90px;
      height: 90px;
    }
    .title-advantages {
      font-size: 24px;
    }
    .advant_discription {
      font-size: 16px;
    }

}