@import "variables";

body {
  font-family: 'Open Sans', sans-serif;

  &.modal-open {
    padding: 0!important;
    overflow: auto;
  }
}

.d-section {
  width: 100%;
}

.btn-a-foxy {
  color: @black;
  border: 2px solid @foxy;
  background: @a-foxy;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 18px;
}

.btn-foxy {
  border-radius: 4px;
  color: @white !important;
  background-color: @foxy;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5), 0 2px 2px rgba(0, 0, 0, .25);
  border: none;
  border-bottom: 2px solid @d-foxy;
  padding: 9px 16px;
  font-size: 18px;

  &:hover {
    box-shadow: inset 0 0 1px #000, 0 2px 2px rgba(0, 0, 0, .25);

    &:active {
      box-shadow: 0 0 3px @black inset;
      border-bottom: 0;
      border-top: 2px solid @d-foxy;
    }
  }
}

.btn-grey {
  border: 1px solid #b8b8b8;
  background: #e6e6e6;
  color: @black;
  font-weight: 400;
}


.d-vertical-title {
  color: @black;
  text-align: center;
  font-size: 32px;

  .title-text {
    position: relative;

    &:after, &:before {
      display: inline-block;
      height: 2px;
      width: 55px;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      content: '';
      background: @black;
    }

    &:after {
      margin-left: -35px;
      left: -55px;
    }

    &:before {
      margin-right: -35px;
      right: -55px;
    }
  }
}

h2 {
  font-size: 32px;
}

.btn-white {
  border-radius: 4px;
  color: @black !important;
  background-color: @white;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5), 0 2px 2px rgba(0, 0, 0, .25);
  border: none;
  border-bottom: 2px solid #999;
  padding: 9px 16px;
  font-size: 18px;

  &:hover {
    box-shadow: inset 0 0 1px #000, 0 2px 2px rgba(0, 0, 0, .25);

    &:active {
      box-shadow: 0 0 3px @black inset;
      border-bottom: 0;
      border-top: 2px solid #999;
    }
  }
}

.f-18 {
  font-size: 18px;
}

.f-16 {
  font-size: 16px;
}


@media all and (max-width: 767px) {
  .btn {
    white-space: pre-wrap;
  }

  .d-vertical-title .title-text {
    &:before, &:after {
      display: none;
    }
  }

  .d-footer {
    .left-list, .right-list {
      padding-left: 0;
    }
  }

  .d-modal {
    padding: 0;

    .modal-dialog {
      width: 100%!important;
      margin: 10px 0;
    }
  }
}
