@import "variables";

.decide-header {
  text-align: center;
  .subtitle {
    margin: 10px 0;
    font-size: 18px;
  }
  h2 {
    margin: 10px 0;
    display: inline-block;
  }
  .line {
    display: inline-block;
    width: 55px;
    height: 2px;
    margin: 0 35px;
    background: @black;
  }
}

.img-decide {
  padding: 5px;
  text-align: center;
  img {
    height: 148px;
    width: 148px;
  }
}

.text-decide {
  font-size: 16px;
  word-wrap: break-word;
  padding: 20px 5px;
  text-align: justify;
  .second-text {
    span:first-child {
      color: @red;
    }
  }
}
.i-decide-form {
  padding: 30px;
  label {
    font-size: 19px;
  }
  span {
    color: @red;
  }
  input {
    height: 44px!important;
    border-width: 2px!important;
    padding: 10px 12px!important;
    color: @d-grey!important;
    overflow: hidden;
    white-space: nowrap;
  }
  button {
    line-height: 1.2!important;
    padding: 15px 20px!important;
    font-size: 21px!important;
    width: 100%;
  }
}
