@import "variables";

.d-feedback {
  background: url('../images/feedback-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;

  .d-feedback-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding-bottom: 100px;

    .container {
      position: relative;
    }

    .feedback {
      width: 60%;
      margin: 0 auto;
      text-align: justify;
      font-weight: 400;

      .feedback-owner {
        .avatar {
          width: 65px;
          display: inline-block;
          vertical-align: middle;
        }
        .name {
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.flex-nav-btn {
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  background: @slider-grey;
  border-radius: 50%;
  color: @slider-dark-grey;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  z-index: 100;

  &.flex-prev {
    left: 0;
    .fa {
      margin-left: -2px;
    }
  }

  &.flex-next {
    right: 0;
    .fa {
      margin-right: -2px;
    }
  }

  &:hover, &:active {
    color: @white;
  }

  &:focus {
    color: @slider-dark-grey;

    &:hover {
      color: @white;
    }
  }
}
