@import "variables";

.d-footer {
  margin-top: 60px;
  margin-bottom: 40px;

  .left-foter-text {
    float: left;
  }
  .right-footer-text {
    float: right;
    text-align: right;
    .list-table {
      display: table;
      width: 100%;
      ul {
        display: inline-block;
      }
      .img-footer {
        width: 23px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  li {
    font-size: 18px;
    list-style-type: none;
      .text-footer {
        display: inline-block;
        color: @black;
        text-decoration: none;
        &:hover, &:focus, &:active {
          text-decoration: none;
          color: @black;
        }
      }
    .img-footer {
      display: inline-block;
      img {
        height: 32px;
        width: 32px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .right-list,.left-list {
    text-align: center;
  }
}
