@import "variables";

.d-header {
  padding-top: 65px;

  .header-section {
    width: 100%;
  }

  .slider-section {
    overflow: hidden;
  }

  .slider {
    height: 340px;

    .mac-book {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url('../images/macbook.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 10px;

      .d-carousel {
        position: absolute;
        top: 32px;
        left: 93px;
        width: 398px;
        height: 249px;

        .carousel-inner {
          width: 100%;
          height: 100%;
          .item {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.carousel-control {
  width: 30px;
  padding: 2px;
  height: 30px;
  text-align: center;
  display: inline-block;
  background: @slider-grey !important;
  border-radius: 50%;
  color: @slider-dark-grey;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  z-index: 100;
  opacity: 1;
  text-shadow: none;

  &:hover, &:active {
    .fa {
      color: @white !important;
    }
  }
  .fa {
    color: @slider-dark-grey !important;
  }

  &.d-slide-prev {
    left: -60px;
    .fa {
      margin-left: -2px;
    }
  }

  &.d-slide-next {
    right: -60px;
    .fa {
      margin-right: -2px;
    }
  }
}

@media all and (max-width: 1200px) {

  .d-header {
    padding-top: 65px!important;
    padding-bottom: 20px!important;
    .container {
      padding-top: 0!important;

      .header-texts {
        text-align: center;
      }
    }
    .slider {
      .mac-book {
        .d-carousel {
          top: 28px;
          left: 79px;
          width: 327px;
          height: 204px;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {
  .d-header .slider {
    height: 225px;
    margin-top: 100px;

    .mac-book {
      .d-carousel {
        top: 124px;
        left: 64px;
        width: 247px;
        height: 155px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .d-header {
    .btn {
      margin: 10px 5px!important;
    }
  }
}
