@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic&subset=latin,cyrillic);

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.m-t--10 {
  margin-top: -10px !important;
}

.m-b--10 {
  margin-bottom: -10px !important;
}

.m-l--10 {
  margin-left: -10px !important;
}

.m-r--10 {
  margin-right: -10px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.p-b-75 {
  padding-bottom: 75px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-t-100 {
  padding-top: 100px !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.p-l-100 {
  padding-left: 100px !important;
}

.p-r-100 {
  padding-right: 100px !important;
}

.p-t--5 {
  padding-top: -5px !important;
}

.p-b--5 {
  padding-bottom: -5px !important;
}

.p-l--5 {
  padding-left: -5px !important;
}

.p-r--5 {
  padding-right: -5px !important;
}

.p-t--10 {
  padding-top: -10px !important;
}

.p-b--10 {
  padding-bottom: -10px !important;
}

.p-l--10 {
  padding-left: -10px !important;
}

.p-r--10 {
  padding-right: -10px !important;
}

.p-t--15 {
  padding-top: -15px !important;
}

.p-b--15 {
  padding-bottom: -15px !important;
}

.p-l--15 {
  padding-left: -15px !important;
}

.p-r--15 {
  padding-right: -15px !important;
}

.p-t--20 {
  padding-top: -20px !important;
}

.p-b--20 {
  padding-bottom: -20px !important;
}

.p-l--20 {
  padding-left: -20px !important;
}

.p-r--20 {
  padding-right: -20px !important;
}

.p-t--25 {
  padding-top: -25px !important;
}

.p-b--25 {
  padding-bottom: -25px !important;
}

.p-l--25 {
  padding-left: -25px !important;
}

.p-r--25 {
  padding-right: -25px !important;
}

.p-t--30 {
  padding-top: -30px !important;
}

.p-b--30 {
  padding-bottom: -30px !important;
}

.p-l--30 {
  padding-left: -30px !important;
}

.p-r--30 {
  padding-right: -30px !important;
}

.p-t--40 {
  padding-top: -40px !important;
}

.p-b--40 {
  padding-bottom: -40px !important;
}

.p-l--40 {
  padding-left: -40px !important;
}

.p-r--40 {
  padding-right: -40px !important;
}

.p-t--50 {
  padding-top: -50px !important;
}

.p-b--50 {
  padding-bottom: -50px !important;
}

.p-l--50 {
  padding-left: -50px !important;
}

.p-r--50 {
  padding-right: -50px !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-lighter {
  font-weight: lighter;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.f-16 {
  font-size: 16px;
}
