@import "variables";

.d-how-work {
  color: @black;

  h2 {
    margin: 10px 0 20px 0;
    font-size: 32px;
    text-align: center;
  }
  .d-how-work-table {
    .d-how-work-row {

      .d-how-work-cell {
        font-size: 16px;
        padding: 10px;

        h3, p {
          margin: 0;
        }

        img {
          height: 82px;
          width: 82px;
        }

        .img-how-work {
          text-align: center;
        }
      }

      &:nth-child(odd) {
        text-align: right;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .d-how-work-row {
    text-align: left!important;
  }
}
