@import "variables";
.d-indicators {
  background-color: @l-foxy;
  color: @white;
  text-align: center;
  h2 {
    font-size: 32px;
  }
  .subtitle {
    font-size: 18px;
  }
  img {
    width: 64px;
    height: 64px;
  }
  .countIndicator {
    font-size: 72px;
  }
  .text-indicators {
    font-size: 16px;
  }
}