@import "variables";
h2 {
  font-size: 32px;
}
.d-content {
  text-align: justify;
  .content-header {
    font-size: 24px;
    color: @l-foxy;
  }
  .content-text {
    font-size: 16px;
  }
}
.d-map {
  width: 100%;
  height: 400px;
  .map-text {
    left:50%;
    margin-left: -120px;
    text-align: center;
    z-index: 1;
    width: 240px;
    position: absolute;
    background-color: @map-grey;
    .subtitle {
      font-size: 16px;
    }
  }
}