@import "variables";

.d-modal {
  .modal-dialog {
    width: 400px;

    .modal-header .close {
      margin-top: 2px;
    }

    .modal-content {
      border-radius: 3px;

      .modal-body {
        padding: 20px;
      }

      .btn {
        width: 100%;
      }
    }
  }
}
