@import "variables";

.d-navbar {
  background-color: @grey;
  border: none;
  border-radius: 0;
  .d-menu li a {
    font-size: 16px;
    color: @black;
    padding: 22.5px 15px;
  }
  .navbar-brand {
    height: 65px;
    padding: 12px 0;
  }
  .non-hover {
    &:hover, &:focus{
      background-color: initial;
    }
  }
}

@media screen and (max-width: 767px) {
  .d-navbar {
    position: static !important;

    .navbar-brand {
      width: 100%;
    }
    .navbar-brand > img {
      margin: 0 auto;
    }
    .collapse {
      display: block;
      text-align: center;
    }
  }
}
