@import "variables";

.d-portfolio {
  .customer {
    position: relative;
    &:hover {
      .description-wrapper {
        opacity: 1;
      }
    }

    .description-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      background: @white;
      padding: 0 15px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
