@import "variables";

.d-services {

  .main-container {
    background: @grey;
    padding-left: 0;
    padding-right: 0;

    .tab-content {
      padding: 0 15px;
      .tab-content-header {
        min-height: 300px;
        height: 300px;
        overflow: hidden;
        transition: height 0.3s ease;

        .img-tab-left {
          float: left;
          height: 300px;
          margin: 0 10px 10px 0;
          img {
            max-height: 300px;
          }
        }
      }
    }
  }

  .d-tabs {
    li {

      &.active {
        a {
          background: @grey;
          border: 0;
          &:hover, &:focus {
            border: 0;
          }
        }
      }

      a {
        font-size: 24px;
        font-family: "Open Sans";
        color: @black;
        border-radius: 0;
        background: @white;
        border: 0;

        &:hover {
          background: @grey;
        }
        img {
          height: 115px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .d-services .d-tabs li a {
    font-size: 14px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .d-services .d-tabs li a {
    font-size: 18px;
  }
}
