@import "variables";
.d-timer {
  background: @green;
  position: relative;

  .green-separator {
    background: linear-gradient(45deg, rgb(255, 255, 255) 25%, transparent 25%) repeat scroll 0% 0%, transparent linear-gradient(315deg, rgb(255, 255, 255) 25%, transparent 25%) repeat scroll 0% 0%;
    height: 20px;
    background-size: 20px 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media all and (max-width: 991px) {
  .timer-text-section {
    margin-top: 20px;
    text-align: center;
  }
}
