@foxy: #DD7205;
@a-foxy: rgba(221, 114, 5, 0.2);
@l-foxy: #F67F06;
@d-foxy: #854503;
@d-grey: #0C0600;
@black: #000;
@grey: #DEDEDE;
@d-grey: #808080;
@slider-grey: #D8D8D8;
@slider-dark-grey: #AFAFAF;
@green: #288C20;
@white: #fff;
@red: #EE1D24;


.d-white {
  color: @white;
}

.d-red {
  color: @red;
}

@map-grey: rgba(255, 255, 255, 0.7);
